
Lowest asking price from MT GOX:  <span id="lowest_ask"></span>  <br>
<% unless @ask.nil? %>
    Lowest asking price on site:  [ Rate: <b><%= @ask.rate %></b>  , Amount: <b>$<%= @ask.dollar_amount %></b> ] <br>
<% end %>
Highest bid from MT GOX: <span id="highest_bid"></span>  <br>
<% unless @bid.nil? %>
    Highest bid price on site:  [ Rate: <b><%= @bid.rate %></b>, Amount: <b>$<%= @bid.dollar_amount %></b> ] <br>
<% end %>


<br>
<%= form_for(Order.new) do |f| %>
    <%= error_messages_for :order %>
    Rate (dollars per bitcoin): <%= f.text_field :rate %><br>
    BTC Amount: <%= f.text_field :btc_amount %><br>

    Dollar Amount: <%= f.text_field :dollar_amount %>     <br>

    Buy: <%= f.radio_button :order_type, :bid, :class => :radio, :checked => true %> <br>
    Sell: <%= f.radio_button :order_type, :ask, :class => :radio %>
    <%= f.submit :process %>

<% end %>



<script>
    $('.radio').click(function() {
        //alert($(this).val());
    });
    $('#order_btc_amount').keypress(function() {
        var that = this;
        setTimeout(function() {
            console.log($(that).val());
            $('#order_dollar_amount').val($(that).val() * $('#order_rate').val());
        }, 1);

    });
    $('#order_dollar_amount').keypress(function() {
        var that = this;
        setTimeout(function() {
            console.log($(that).val());
            $('#order_btc_amount').val($(that).val() / $('#order_rate').val());
        }, 1);

    });
    $('#order_rate').keypress(function() {
        $('#order_dollar_amount').attr('disabled', false);
        $('#order_btc_amount').attr('disabled', false)
    });

    var sort_asc = function(a, b) {
        return  a[0] - b[0];

    };
    var sort_dsc = function(a, b) {
        return b[0] - a[0];
    };

    var lowest_ask = function(data) {
        var lowest =  data.asks.sort(sort_asc)[0]
        $("#lowest_ask").html(" [ Rate: <b>"+lowest[0]+"</b>, Amount: <b>$"+lowest[1]+"</b> ]");
    };

    var highest_bid = function(data) {
        var highest =   data.bids.sort(sort_dsc)[0]
        $("#highest_bid").html(" [ Rate: <b>"+highest[0]+"</b>, Amount: <b>$"+highest[1]+"</b> ]");
    };

    var set_data = function() {
        $.getJSON("/proxy?url=https://mtgox.com/code/data/getDepth.php", function(response) {
            lowest_ask(response);
            highest_bid(response);
        })
    };

    set_data();

</script>