
<%= form_tag(orders_path, :method => :post) do -%>

    5 lowest asking prices from MT GOX:
    <blockquote>
      <% @trade_data['asks'].sort.first(5).each do |ask|  %>
          <div class="trade">
            Rate: <%= ask[0] %><br>
            Amount: $<%= ask[1]  %><br>
          </div>

      <% end  %>
    </blockquote>
    <div class="breaker"></div>
    5 highest bids from MT GOX:
    <blockquote>
    <% @trade_data['bids'].sort.reverse.first(5).each do |bid|  %>
        <div class="trade">
          Rate: <%= bid[0] %><br>
          Amount: $<%= bid[1]  %><br>
        </div>

    <% end  %>
     </blockquote>
    <div class="breaker"></div>   <br>
    Rate (dollars per bitcoin): <%= text_field_tag "rate" %><br>
    BTC Amount: <%= text_field_tag 'btc_amount', nil, :disabled => true %><br>

    Dollar Amount: <%= text_field_tag 'dollar_amount', nil, :disabled => true %>     <br>

    Buy: <%= radio_button_tag "order_type", "bid", true, :class => :radio %>
    Sell: <%= radio_button_tag "order_type", "ask", false, :class => :radio %>
    <%= submit_tag "Send" %>

<% end -%>



<script>
    $('.radio').click(function(){
        //alert($(this).val());
    });
    $('#btc_amount').keypress(function(){
        var that = this;
        setTimeout(function(){
            console.log($(that).val());
            $('#dollar_amount').val($(that).val() * $('#rate').val());
        }, 1);

    });
    $('#dollar_amount').keypress(function(){
        var that = this;
        setTimeout(function(){
            console.log($(that).val());
            $('#btc_amount').val($(that).val() / $('#rate').val());
        }, 1);

    });
    $('#rate').keypress(function(){
        $('#dollar_amount').attr('disabled',false);
        $('#btc_amount').attr('disabled',false)
    })

</script>