
<!DOCTYPE html>
<html>
<head>
  <title>Exchange</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>The supercool bitcoin exchange <% if @title %> <span id="title"> [ <%= @title %> ] </span><% end %></header>
<section id="auth">
  <% unless @current_user.nil? %>
    <%= button_to "Sign out: #{session[:email]}", session_path, :method => :delete %>
<% end %>
</section>

<% unless @current_user.nil? %>
    <nav>
      <%= link_to "Balance", balances_path %>
      <%= link_to "Open Orders", orders_path %>
      <%= link_to "Buy/Sell Bitcoin", new_order_path %>
      <%= link_to "Withdraw Money", edit_balance_path("withdraw") %>
      <%= link_to "Deposit Money", edit_balance_path("deposit") %>
    </nav>
<% end %>
<section class="breaker"></section>
<%= yield %>

<section>
    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end -%>
</section>
<footer>Copyright 2011 BitExchange</footer>


<script>
  $("a").mouseover(function(){
      $(this).css('text-decoration', 'underline') ;
  }).mouseout(function(){
      $(this).css('text-decoration', 'none')
});
        $("#signout").click(function(){

        })
</script>
</body>
</html>
