<!DOCTYPE html>
<html>
<head>
  <title>Exchange</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>The supercool bitcoin exchange <% if @title %> <span id="title"> [ <%= @title %> ] </span><% end %></header>
<section id="auth">
  <% if signed_in? %>
  <%= form_tag(sign_out_path, :method => :delete) do -%>
    <%= submit_tag "Sign out" %>
  <% end -%>
<% else %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>
</section>

<% if signed_in? %>
    <nav>
      <%= link_to "Balance", balance_path %>
      <%= link_to "Open Orders", bids_path %>
      <%= link_to "Buy Bitcoin", new_bid_path %>
      <%= link_to "Sell Bitcoin" %>
      <%= link_to "Withdraw Money", edit_balance_path(:type => :withdraw) %>
      <%= link_to "Deposit Money", edit_balance_path(:type => :deposit) %>
    </nav>
<% end %>
<section id="breaker"></section>
<%= yield %>

<section>
    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end -%>
</section>
<footer>Copyright 2011 BitExchange</footer>


<script>
  $("a").mouseover(function(){
      $(this).css('text-decoration', 'underline') ;
  }).mouseout(function(){
      $(this).css('text-decoration', 'none')
});
</script>
</body>
</html>
